#include<resource.h>

#define ICO_BIG			1000
ICO_BIG		ICON	"tiny32x32.ico"
0 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "0.bmp"
1 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "1.bmp"
2 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "2.bmp"
3 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.0.bmp"
4 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.1.bmp"
5 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.2.bmp"
6 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.3.bmp"
7 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.4.bmp"
8 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.5.bmp"
9 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.6.bmp"
10 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.7.bmp"
11 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.8.bmp"
12 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.9.bmp"
13 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.10.bmp"
14 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.11.bmp"
15 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.12.bmp"
16 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.13.bmp"
17 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.14.bmp"
18 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.15.bmp"
19 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.16.bmp"
20 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.17.bmp"
21 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.18.bmp"
22 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.19.bmp"
23 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.20.1.bmp"
24 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.20.2.bmp"
25 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.21.1.bmp"
26 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.21.2.bmp"
27 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.21.3.bmp"
28 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.21.4.bmp"
29 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "4.22.bmp"

1111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Thief_right_s.bmp"
2222 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Thief_left_s.bmp"
3333 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Thief_right_r.bmp"
4444 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Thief_left_r.bmp"

